a
<%# @components.each do |component| %>
<div class="p-4 border border-grey-300 rounded-lg">
  <%= render "components/components", components: @components %>
  <p><%#= link_to 'Show Components', component, class: "text-blue-500" %>
  </p>
</div>
<%# end %>

<p style="color: green"><%= notice %></p>
<h1 class="text-4xl text-center mt-5 mb-4">Posts</h1>
<div class="flex justify-center">
  <%= render partial: "search/form", locals: { results: [] } %>
</div>
<div id="posts" class="mt-4 mx-10">
  <%= render "components/components", posts: @posts %>
</div>
<%= link_to "New post", new_component_path %>


